# Auto detect text files and perform LF normalization
* text=auto
*.bin filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
builds/v0.4/v0.4.data filter=lfs diff=lfs merge=lfs -text
